<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pi Chat 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('feed.feed') }}">
                    <img src="{{ url_for('static', filename='logo.png') }}"
                         height="40"
                         alt="logo" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('feed.feed') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('communities.communities') }}">Communities</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('user.app_user', username=current_user.username) }}">User</a>
                        </li>
                        <li class="nav-item">
                            <form action="{{ url_for('auth.logout') }}" method="POST">
                                <button class="nav-link btn btn-outline-danger m-1">
                                    <a> - Log Out - </a>
                                </button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('auth.login') }}">Log In</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="full-height">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
            {% block content %} {% endblock %}
        </div>
    </section>
    <footer class="bg-light">
        <div class="container">
            <div class="row fifth-height">
                <div class="col-12 align-self-center text-center">
                    <p>
                        Made for the Pi&#8482; Community - by Hascyll
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://sdk.minepi.com/pi-sdk.js"></script>

</body>
</html>
