{% extends "layout.html" %} {% block content %}
<div class="row">
    <p>
      <a href="{{ url_for('feed.feed') }}">My Feed</a> | <a href="{{ url_for('communities.communities') }}">Communities</a>
    </p>
</div>
<h2 class="mb-3">User Profile</h2>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">u/{{ app_user.username }}</h5>
    {% if current_user.is_authenticated %}
        <p class="card-text">
          Joined {{ app_user.date_created.strftime("%d/%m/%Y") }}.
        </p>
        {% if access_name == app_user.username %}
        <p class="card-text">
          crumbles-Moderator: {{ app_user.moderator }}
        </p>
        <p>
            Badges: Beta-Tester
        </p>
        <p>
            Your E-Mail-Address: {{ app_user.email }}
        </p>
        <p>
            Pi Network Permissions: <a id="found_username"></a><br/><a><i>Note: only works whithin Sandbox for now</i></a>
        </p>
        {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
<script src="/static/scripts/pi_auth.js"></script>
